TASK.md
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/flux.md
/php_errors.log
/bootstrap/ssr
/bootstrap/cache/*.php